openapi: 3.1.0
info:
  title: Gasteiz Click API
  description: |
    API pública de Gasteiz Click — agregador de eventos culturales de Vitoria-Gasteiz.

    ## Autenticación
    Todos los endpoints (excepto newsletter) requieren una API key enviada via:
    - Header: `x-api-key: TU_API_KEY`
    - Query param: `?api_key=TU_API_KEY`

    ## Rate Limiting
    - 100 peticiones por minuto por IP
    - Headers de respuesta: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`
    - Si se excede el límite: HTTP 429 con `Retry-After`

    ## Caché
    Las respuestas incluyen headers `Cache-Control`. Los clientes móviles deben respetarlos.
  version: 1.0.0
  contact:
    name: Gasteiz Click
    url: https://gasteizclick.javierpalacio.es

servers:
  - url: https://gasteizclick.javierpalacio.es
    description: Producción
  - url: http://localhost:3000
    description: Desarrollo

security:
  - apiKey: []

tags:
  - name: events
    description: Eventos agregados de todas las fuentes
  - name: sources
    description: Fuentes individuales
  - name: cinema
    description: Carteleras de cine
  - name: sports
    description: Deportes y carreras
  - name: newsletter
    description: Suscripción al newsletter

paths:
  /api/v1/events:
    get:
      tags: [events]
      summary: Eventos agregados (recomendado para móvil)
      description: |
        Endpoint principal para consumo desde apps móviles. Agrega eventos de todas las fuentes,
        elimina duplicados, y soporta filtros y paginación.
      operationId: getEvents
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [Música, Teatro, Cine, Exposiciones, Infantil, Deporte, Danza, Festival, Conferencias, Fiestas, Visitas, Talleres, Gastronomía, Senderismo, Otros]
          description: >-
            Filtrar por categoría. La comparación es por subcadena en minúsculas, así que
            también entran valores parciales; el enum lista las quince categorías
            canónicas que emite la agenda.
          example: Música
        - name: source
          in: query
          schema:
            type: string
              enum: [municipal-agenda, municipal-teatro, municipal-conciertos, municipal-exposiciones, municipal-general, municipal-deporte, municipal-infantil, municipal-visitas, municipal-rss, vam, vam-conciertos, euskadi, senderismo, fiestas-blanca, jimmyjazz, helldorado, musikaze, fever, rula, gasteizhoy, eventbrite, entradium, vital, arkabia, mercado-abastos, miniature, buscametas-calendario, buscametas-inscripciones]
          description: >-
            Filtrar por fuente. Los valores son los ids del registro de fuentes de la
            agenda agregada, no nombres de sala. La comparación es exacta y en minúsculas.
          example: fever
        - name: search
          in: query
          schema:
            type: string
          description: Buscar por título, ubicación o descripción
          example: jazz
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Fecha de inicio (ISO YYYY-MM-DD)
          example: "2026-07-14"
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: Fecha de fin (ISO YYYY-MM-DD)
          example: "2026-07-20"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: Número máximo de resultados
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Offset para paginación
      responses:
        "200":
          description: Lista de eventos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Evento"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
              example:
                data:
                  - id: "abc-123"
                    title: "Jazz en la Plaza"
                    date: "2026-07-15T20:00:00.000Z"
                    image: "https://example.com/img.jpg"
                    location: "Plaza España, Vitoria-Gasteiz"
                    link: "https://feverup.com/event/123"
                    category: "Música"
                    source: "fever"
                    time: "20:00"
                    description: "Noche de jazz en la plaza principal"
                meta:
                  total: 120
                  limit: 50
                  offset: 0
                  hasMore: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/eventos/proximos:
    get:
      tags: [events]
      summary: Próximos eventos (endpoint original)
      description: Retorna todos los eventos futuros agregados de todas las fuentes, sin paginación.
      operationId: getProximosEventos
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Lista de eventos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Evento"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades:
    get:
      tags: [events]
      summary: Actividades del calendario municipal
      operationId: getActividades
      responses:
        "200":
          description: Lista de actividades municipales
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/senderismo:
    get:
      tags: [events]
      summary: Actividades de senderismo
      operationId: getSenderismo
      responses:
        "200":
          description: Lista de excursiones
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: cm-gazteiz
                  category:
                    type: string
                    example: actividades
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActividadSenderismo"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/arkabia:
    get:
      tags: [events]
      summary: Eventos de Arkabia (Centro Cultural Montehermoso)
      operationId: getArkabia
      responses:
        "200":
          description: Agenda de eventos de Arkabia
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: arkabia
                  category:
                    type: string
                    example: arkabia
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ArkabiaEvento"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/tours:
    get:
      tags: [events]
      summary: Visitas guiadas, rutas y tours en Vitoria-Gasteiz
      operationId: getTours
      responses:
        "200":
          description: Lista de tours y visitas guiadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: agregado
                  category:
                    type: string
                    example: tours
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventoAgenda"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/tours/civitatis:
    get:
      tags: [events]
      summary: Catálogo de tours de Civitatis en Vitoria
      description: >-
        Catálogo comercial de Civitatis para Vitoria-Gasteiz. A diferencia de
        `/api/actividades/tours`, que es una vista sobre el agregado de la
        agenda, esta ruta devuelve el catálogo tal cual, con campos que el
        modelo `EventoAgenda` no tiene: duración, idioma, precio, valoración y
        número de Reviews. Los tours de Civitatis son recurrentes y no tienen
        fecha, por eso no entran en la agenda.
      operationId: getCivitatisTours
      responses:
        "200":
          description: Catálogo de tours
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: civitatis
                  category:
                    type: string
                    example: tours
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TourCivitatis"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/experiencias:
    get:
      tags: [events]
      summary: Experiencias de Kora Green City en Vitoria
      description: >-
        Experiencias de bienestar y sostenibilidad de Kora Green City. Son
        sesiones recurrentes ("Martes de 19:15h"), sin fecha concreta, así que
        no forman parte de la agenda y se exponen aparte conservando el
        horario tal cual lo publica la web.
      operationId: getExperiencias
      responses:
        "200":
          description: Lista de experiencias
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: kora
                  category:
                    type: string
                    example: experiencias
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExperienciaKora"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/tardeo:
    get:
      tags: [events]
      summary: Planes de tarde (16:00 - 22:00) en Vitoria-Gasteiz
      operationId: getTardeo
      responses:
        "200":
          description: Eventos de tarde
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: agregado
                  category:
                    type: string
                    example: tardeo
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventoAgenda"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/kiosko:
    get:
      tags: [events]
      summary: Agenda del kiosko cultural (Kiosko Kultura / lagenterula)
      operationId: getKiosko
      responses:
        "200":
          description: Eventos culturales de La Genterula
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: lagenterula
                  category:
                    type: string
                    example: kiosko
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventoAgenda"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/navidad:
    get:
      tags: [events]
      summary: Eventos de Navidad
      operationId: getNavidad
      responses:
        "200":
          description: Lista de eventos navideños
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/conciertos:
    get:
      tags: [events]
      summary: Conciertos (Jimmy Jazz Gasteiz)
      operationId: getConciertos
      responses:
        "200":
          description: Lista de conciertos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Concierto"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/conciertos/vam:
    get:
      tags: [events]
      summary: Conciertos de VAM Cultura
      operationId: getConciertosVam
      responses:
        "200":
          description: Lista de conciertos VAM
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda:
    get:
      tags: [events]
      summary: Agenda del calendario municipal
      operationId: getAgenda
      responses:
        "200":
          description: Agenda municipal
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda/eventos:
    get:
      tags: [events]
      summary: Eventos municipales (tipo evento)
      operationId: getAgendaEventos
      responses:
        "200":
          description: Lista de eventos
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda/infantil:
    get:
      tags: [events]
      summary: Eventos infantiles
      operationId: getAgendaInfantil
      responses:
        "200":
          description: Lista de eventos infantiles
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda/exposiciones:
    get:
      tags: [events]
      summary: Exposiciones
      operationId: getAgendaExposiciones
      responses:
        "200":
          description: Lista de exposiciones
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda/concierto:
    get:
      tags: [events]
      summary: Conciertos del calendario municipal
      operationId: getAgendaConciertos
      responses:
        "200":
          description: Lista de conciertos municipales
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda/teatro:
    get:
      tags: [events]
      summary: Obras de teatro
      operationId: getAgendaTeatro
      responses:
        "200":
          description: Lista de obras de teatro
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/eventos/agenda/visitas:
    get:
      tags: [events]
      summary: Visitas guiadas
      operationId: getAgendaVisitas
      responses:
        "200":
          description: Lista de visitas guiadas
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/carreras/agenda:
    get:
      tags: [sports]
      summary: Agenda de carreras deportivas
      operationId: getCarrerasAgenda
      responses:
        "200":
          description: Lista de carreras
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/carreras/calendario:
    get:
      tags: [sports]
      summary: Calendario de carreras (Buscametas)
      operationId: getCarrerasCalendario
      responses:
        "200":
          description: Calendario de carreras
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventos:
                    type: array
                    items:
                      $ref: "#/components/schemas/Carrera"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [sports]
      summary: Carreras con filtros personalizados
      operationId: postCarrerasCalendario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                zona:
                  type: string
                distancia:
                  type: string
                desde:
                  type: string
                  format: date
                hasta:
                  type: string
                  format: date
      responses:
        "200":
          description: Lista de carreras filtrada
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/actividades/carreras/inscripciones:
    get:
      tags: [sports]
      summary: Inscripciones abiertas a carreras
      operationId: getCarrerasInscripciones
      responses:
        "200":
          description: Carreras con inscripciones abiertas
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/fever:
    get:
      tags: [sources]
      summary: Eventos de Fever
      operationId: getFever
      responses:
        "200":
          description: Eventos de Fever
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeverEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/rula:
    get:
      tags: [sources]
      summary: Eventos de La Genterula
      operationId: getRula
      responses:
        "200":
          description: Eventos de La Genterula
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RulaEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/gasteizhoy:
    get:
      tags: [sources]
      summary: Eventos de GasteizHoy
      operationId: getGasteizHoy
      responses:
        "200":
          description: Eventos de GasteizHoy
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GasteizHoyEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/vam:
    get:
      tags: [sources]
      summary: Eventos de VAM Cultura
      operationId: getVam
      responses:
        "200":
          description: Eventos de VAM Cultura
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VamEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/cines:
    get:
      tags: [cinema]
      summary: Cartelera combinada (Cine Florida + Yelmo Cines Boulevard)
      operationId: getCines
      responses:
        "200":
          description: Películas de ambos cines, cada una etiquetada con su cine
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  scrapedAt:
                    type: string
                    format: date-time
                  total:
                    type: integer
                  peliculas:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Pelicula"
                        - type: object
                          properties:
                            cine:
                              type: string
                              enum: [Florida, Boulevard]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/cines/boulevard:
    get:
      tags: [cinema]
      summary: Cartelera de Yelmo Cines Boulevard
      operationId: getBoulevard
      responses:
        "200":
          description: Películas en cartelera
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  scrapedAt:
                    type: string
                    format: date-time
                  total:
                    type: integer
                  peliculas:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pelicula"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/cines/florida:
    get:
      tags: [cinema]
      summary: Cartelera de Cine Florida
      operationId: getFlorida
      responses:
        "200":
          description: Películas en cartelera
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  scrapedAt:
                    type: string
                    format: date-time
                  total:
                    type: integer
                  peliculas:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pelicula"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/farmacias:
    get:
      tags: [sources]
      summary: Farmacias de guardia
      operationId: getFarmacias
      responses:
        "200":
          description: Lista de farmacias de guardia
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Farmacia"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/newsletter/subscribe:
    post:
      tags: [newsletter]
      summary: Suscribirse al newsletter
      operationId: subscribe
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Suscripción exitosa
        "400":
          description: Email inválido

  /api/newsletter/confirm:
    get:
      tags: [newsletter]
      summary: Confirmar suscripción
      operationId: confirmSubscription
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Suscripción confirmada
        "400":
          description: Token inválido

  /api/newsletter/unsubscribe:
    get:
      tags: [newsletter]
      summary: Cancelar suscripción
      operationId: unsubscribe
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Suscripción cancelada
        "400":
          description: Token inválido

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        API key para autenticación. También se puede enviar como query param `?api_key=`.

  schemas:
    Evento:
      type: object
      description: Evento cultural normalizado
      properties:
        id:
          type: string
          description: Identificador único del evento
        title:
          type: string
          description: Título del evento
        date:
          type: string
          description: Fecha del evento (ISO 8601)
        image:
          type: string
          nullable: true
          description: URL de la imagen del evento
        location:
          type: string
          description: Ubicación del evento
        link:
          type: string
          description: URL original del evento
        category:
          type: string
          description: Categoría del evento
        source:
          type: string
          description: >-
            Fuente de datos. Los valores son los ids del registro de fuentes, no nombres
            de sala ni de sede; el enum del parámetro `source` de `/api/v1/events` los
            lista todos.
        time:
          type: string
          description: Hora del evento
        description:
          type: string
          description: Descripción del evento

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total de resultados que coinciden con los filtros
        limit:
          type: integer
          description: Límite de resultados por página
        offset:
          type: integer
          description: Offset actual
        hasMore:
          type: boolean
          description: Si hay más resultados disponibles

    FeverEvent:
      type: object
      properties:
        id:
          type: string
          example: fever-12345
        title:
          type: string
        date:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [Música, Teatro, Cine, Exposiciones, Infantil, Deporte, Danza, Festival, Conferencias, Fiestas, Visitas, Talleres, Gastronomía, Senderismo, Otros]

    RulaEvent:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string

    GasteizHoyEvent:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
        time:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string
        source:
          type: string
          example: gasteizhoy

    VamEvent:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        image:
          type: string
          nullable: true
        location:
          type: string
        link:
          type: string
        category:
          type: string
        source:
          type: string
          example: vam
        description:
          type: string
        time:
          type: string

    ActividadSenderismo:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        link:
          type: string
        image:
          type: string
        category:
          type: string
          example: excursiones
        location:
          type: string
          example: Gazteiz

    TourCivitatis:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        link:
          type: string
        image:
          type: string
        duration:
          type: string
          example: 1h 45m
        language:
          type: string
          example: Español
        price:
          type: string
          example: 5 €
        rating:
          type: number
          nullable: true
          description: Puntuación sobre 10, con punto decimal.
        reviews:
          type: integer
          nullable: true
        travelers:
          type: string
          example: 230.605 viajeros
        categories:
          type: string
          example: visitas-guiadas

    ExperienciaKora:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        image:
          type: string
        link:
          type: string
        reservation:
          type: string
          description: Enlace de reserva, normalmente a Eventbrite.
        schedule:
          type: string
          example: Martes de 19:15h a 20:15h
        price:
          type: string
        language:
          type: string
          example: Español e inglés

    Concierto:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
          description: 'Fecha legible (ej: "Viernes 18 Julio 2026")'
        location:
          type: string
        image:
          type: string
          nullable: true
        link:
          type: string

    Carrera:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string

    Pelicula:
      type: object
      description: Película de Yelmo Cines Boulevard
      properties:
        titulo:
          type: string
        duracion:
          type: string
        genero:
          type: string
        imagen:
          type: string
        link:
          type: string
        horarios:
          type: array
          items:
            type: string
          description: 'Lista de horarios (ej: ["16:30", "19:00", "21:30"])'

    ArkabiaEvento:
      type: object
      description: Evento de Arkabia
      properties:
        title:
          type: string
        subtitle:
          type: string
        image:
          type: string
        link:
          type: string
        fecha:
          type: string
          description: 'Rango de fechas mostrado (ej: "04/06 - 13/10/2026")'
        precio:
          type: string
          description: Precio o "GRATIS"
        categoria:
          type: array
          items:
            type: string
        date:
          type: string
          format: date
          description: Fecha de inicio en ISO 8601

    EventoAgenda:
      type: object
      description: Evento normalizado procedente de la agenda agregada
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        date:
          type: string
        dateEnd:
          type: string
        time:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string
        source:
          type: string
        price:
          type: string
        rating:
          type: number

    Farmacia:
      type: object
      properties:
        nombre:
          type: string
        direccion:
          type: string
        ciudad:
          type: string
        telefono:
          type: string
        horario:
          type: string

  responses:
    Unauthorized:
      description: API key no proporcionada o inválida
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized – provide a valid x-api-key header or ?api_key= query param"

    RateLimited:
      description: Límite de peticiones excedido
      headers:
        Retry-After:
          schema:
            type: integer
          description: Segundos hasta poder hacer otra petición
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Rate limit exceeded. Try again later."
