openapi: 3.1.0
info:
  title: Gasteiz Click API
  description: |
    API pública de Gasteiz Click — agregador de eventos culturales de Vitoria-Gasteiz.

    ## Autenticación
    La mayoría de endpoints requieren una API key enviada via:
    - Header: `x-api-key: TU_API_KEY`
    - Query param: `?api_key=TU_API_KEY`

    Las rutas marcadas con `security: []` no la requieren. Son las que consume la
    propia web desde el navegador (que no puede mandar la clave), los enlaces del
    newsletter, que llegan por correo, y las tres de cine, que se publican para
    clientes móviles. La lista está en `lib/api-public-routes.ts` y
    `__tests__/openapi.test.ts` la contrasta con este documento para que no
    puedan divergir.

    ## Rate Limiting
    - 100 peticiones por minuto por IP
    - Headers de respuesta: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`
    - Si se excede el límite: HTTP 429 con `Retry-After`
    - El contador vive en memoria y solo corre en las rutas con API key

    ## Caché
    Las respuestas incluyen headers `Cache-Control`. Los clientes móviles deben respetarlos.
  version: 1.0.0
  contact:
    name: Gasteiz Click
    url: https://gasteizclick.javierpalacio.es

servers:
  - url: https://gasteizclick.javierpalacio.es
    description: Producción
  - url: http://localhost:3000
    description: Desarrollo

security:
  - apiKey: []

tags:
  - name: events
    description: Eventos agregados de todas las fuentes
  - name: sources
    description: Fuentes individuales
  - name: cinema
    description: Carteleras de cine
  - name: sports
    description: Deportes y carreras
  - name: newsletter
    description: Suscripción al newsletter

paths:
  /api/v1/salud:
    get:
      tags: [events]
      summary: Si el agregado que se sirve está completo
      security: []
      description: |
        Dice cuándo se construyó el agregado que hay en caché, cuántas de las 28 fuentes
        han respondido y cuáles no. Léelo **antes** de fiarte de un listado.

        Existe porque el agregador usa `Promise.allSettled`: si 13 de 28 scrapers caen, la
        agenda se sirve más corta con HTTP 200 y ningún error. Sin esta ruta, un cliente no
        tiene forma de distinguir "hoy hay 400 eventos" de "hoy solo han respondido 13
        fuentes", y un modelo de lenguaje te contestaría con la mitad de la agenda y con
        toda la confianza.

        Solo lee la caché de cinco minutos, así que no dispara scraping ni por muchas
        peticiones que se hagan a la vez.
      responses:
        "200":
          description: Estado del agregado en caché
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required:
                      [scrapedAt, sourcesTotal, sourcesOk, sourcesFallidas, completa, fuentes]
                    properties:
                      scrapedAt:
                        type: string
                        format: date-time
                        description: Cuándo se construyó el agregado, no cuándo se leyó
                        example: "2026-10-04T08:12:31.004Z"
                      sourcesTotal:
                        type: integer
                        description: Cuántas fuentes hay en el registro
                        example: 28
                      sourcesOk:
                        type: integer
                        description: Cuántas han respondido, aunque sea con lista vacía
                        example: 27
                      completa:
                        type: boolean
                        description: Si no ha caído ninguna fuente
                        example: false
                      sourcesFallidas:
                        type: array
                        description: Las fuentes que no han respondido, con el motivo
                        items:
                          type: object
                          required: [id, error]
                          properties:
                            id:
                              type: string
                              example: rula
                            error:
                              type: string
                              example: "la Genterula returned 500"
                      fuentes:
                        type: array
                        description: Todas las fuentes del registro, Responde o no
                        items:
                          type: object
                          required: [id, label]
                          properties:
                            id:
                              type: string
                              example: municipal-teatros
                            label:
                              type: string
                              example: Ayuntamiento
                            group:
                              type: string
                              example: municipal
        "503":
          description: La agenda no está disponible en este momento
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpstreamUnavailable"

  /api/v1/events:
    get:
      tags: [events]
      summary: Eventos agregados (recomendado para móvil)
      description: |
        Endpoint principal para consumo desde apps móviles. Agrega eventos de todas las fuentes,
        elimina duplicados, y soporta filtros y paginación.
      operationId: getEvents
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [Música, Teatro, Cine, Exposiciones, Infantil, Deporte, Danza, Festival, Conferencias, Fiestas, Visitas, Talleres, Gastronomía, Senderismo, Otros]
          description: >-
            Filtrar por categoría. La comparación es por subcadena en minúsculas, así que
            también entran valores parciales; el enum lista las quince categorías
            canónicas que emite la agenda.
          example: Música
        - name: source
          in: query
          schema:
            type: string
            enum: [municipal-agenda, municipal-teatro, municipal-teatros, municipal-conciertos, municipal-exposiciones, municipal-general, municipal-deporte, municipal-charlas, municipal-talleres, municipal-danza, municipal-cine, municipal-fiestas, municipal-concursos, municipal-infantil, municipal-visitas, municipal-rss, vam, vam-conciertos, euskadi, senderismo, fiestas-blanca, jimmyjazz, helldorado, musikaze, fever, rula, gasteizhoy, eventbrite, entradium, vital, arkabia, mercado-abastos, miniature, buscametas-calendario, buscametas-inscripciones]
          description: >-
            Filtrar por fuente. Los valores son los ids del registro de fuentes de la
            agenda agregada, no nombres de sala. La comparación es exacta y en minúsculas.
          example: fever
        - name: search
          in: query
          schema:
            type: string
          description: Buscar por título, ubicación o descripción
          example: jazz
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Fecha de inicio (ISO YYYY-MM-DD)
          example: "2026-07-14"
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: Fecha de fin (ISO YYYY-MM-DD)
          example: "2026-07-20"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
          description: >-
            Número máximo de resultados. Un valor que no sea un entero —`?limit=all`,
            que es como el cliente móvil pide "dame todo"— **cae al valor por defecto
            (50)**, y uno numérico fuera de rango se recorta a 1..200. Ninguno de los
            dos casos es un error: la respuesta es correcta igual en ambos, así que no
            hay nada que el cliente pueda corregir y por eso no hay 400.
          example: 50
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: >-
            Offset para paginación. Sin tope superior, a propósito: recortarlo dejaría
            al cliente en un bucle de páginas vacías al final de un listado largo. Un
            valor no numérico cae al 0, y `meta.limit` y `meta.offset` siempre salen
            como números.
          example: 0
      responses:
        "200":
          description: Lista de eventos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Evento"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
              example:
                data:
                  - id: "abc-123"
                    title: "Jazz en la Plaza"
                    date: "2026-07-15T20:00:00.000Z"
                    image: "https://example.com/img.jpg"
                    location: "Plaza España, Vitoria-Gasteiz"
                    link: "https://feverup.com/event/123"
                    category: "Música"
                    source: "fever"
                    time: "20:00"
                    description: "Noche de jazz en la plaza principal"
                meta:
                  total: 120
                  limit: 50
                  offset: 0
                  hasMore: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ScraperFailed"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/proximos:
    get:
      tags: [events]
      summary: Próximos eventos (endpoint original)
      description: Retorna todos los eventos futuros agregados de todas las fuentes, sin paginación.
      operationId: getProximosEventos
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Lista de eventos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Evento"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades:
    get:
      tags: [events]
      summary: Actividades del calendario municipal
      operationId: getActividades
      responses:
        "200":
          description: >-
            Lista de actividades municipales. `data: []` **sí** significa que el
            calendario no traía actividades: el origen respondió.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          description: >-
            El calendario municipal no se pudo leer. Es un fallo del origen de datos
            o de esta ruta, no de la petición, y no se arregla cambiando parámetros.
            Antes devolvía `200 {count: 0, data: []}` para siempre —leía una clave
            que la respuesta del Ayuntamiento no tiene— y eso era indistinguible de
            "no hay actividades", con la app móvil cacheando un vacío permanente
            sin ningún error en ninguna parte.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Error al consultar eventos"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/senderismo:
    get:
      tags: [events]
      summary: Actividades de senderismo
      operationId: getSenderismo
      responses:
        "200":
          description: Lista de excursiones
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: cm-gazteiz
                  category:
                    type: string
                    example: actividades
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ActividadSenderismo"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/arkabia:
    get:
      tags: [events]
      summary: Eventos de Arkabia (Centro Cultural Montehermoso)
      operationId: getArkabia
      responses:
        "200":
          description: Agenda de eventos de Arkabia
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: arkabia
                  category:
                    type: string
                    example: arkabia
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ArkabiaEvento"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/tours:
    get:
      tags: [events]
      summary: Visitas guiadas, rutas y tours en Vitoria-Gasteiz
      operationId: getTours
      responses:
        "200":
          description: Lista de tours y visitas guiadas
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: agregado
                  category:
                    type: string
                    example: tours
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventoAgenda"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/tours/civitatis:
    get:
      tags: [events]
      summary: Catálogo de tours de Civitatis en Vitoria
      description: >-
        Catálogo comercial de Civitatis para Vitoria-Gasteiz. A diferencia de
        `/api/actividades/tours`, que es una vista sobre el agregado de la
        agenda, esta ruta devuelve el catálogo tal cual, con campos que el
        modelo `EventoAgenda` no tiene: duración, idioma, precio, valoración y
        número de Reviews. Los tours de Civitatis son recurrentes y no tienen
        fecha, por eso no entran en la agenda.
      operationId: getCivitatisTours
      responses:
        "200":
          description: Catálogo de tours
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: civitatis
                  category:
                    type: string
                    example: tours
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TourCivitatis"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/experiencias:
    get:
      tags: [events]
      summary: Experiencias de Kora Green City en Vitoria
      description: >-
        Experiencias de bienestar y sostenibilidad de Kora Green City. Son
        sesiones recurrentes ("Martes de 19:15h"), sin fecha concreta, así que
        no forman parte de la agenda y se exponen aparte conservando el
        horario tal cual lo publica la web.
      operationId: getExperiencias
      responses:
        "200":
          description: Lista de experiencias
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: kora
                  category:
                    type: string
                    example: experiencias
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExperienciaKora"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/tardeo:
    get:
      tags: [events]
      summary: Planes de tarde (16:00 - 22:00) en Vitoria-Gasteiz
      operationId: getTardeo
      responses:
        "200":
          description: Eventos de tarde
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: agregado
                  category:
                    type: string
                    example: tardeo
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventoAgenda"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/kiosko:
    get:
      tags: [events]
      summary: Agenda del kiosko cultural (Kiosko Kultura / lagenterula)
      operationId: getKiosko
      responses:
        "200":
          description: Eventos culturales de La Genterula
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    example: lagenterula
                  category:
                    type: string
                    example: kiosko
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/EventoAgenda"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/actividades/navidad:
    get:
      tags: [events]
      summary: Eventos de Navidad
      operationId: getNavidad
      responses:
        "200":
          description: >-
            Lista de eventos navideños. `data: []` **sí** significa que el calendario
            no traía eventos: el origen respondió.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ScraperFailed"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/conciertos:
    get:
      tags: [events]
      summary: Conciertos (Jimmy Jazz Gasteiz)
      operationId: getConciertos
      responses:
        "200":
          description: Lista de conciertos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Concierto"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/conciertos/vam:
    get:
      tags: [events]
      summary: Conciertos de VAM Cultura
      operationId: getConciertosVam
      responses:
        "200":
          description: Lista de conciertos VAM
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda:
    get:
      tags: [events]
      summary: Agenda del calendario municipal
      operationId: getAgenda
      responses:
        "200":
          description: Agenda municipal
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda/eventos:
    get:
      tags: [events]
      summary: Eventos municipales (tipo evento)
      operationId: getAgendaEventos
      responses:
        "200":
          description: Lista de eventos
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda/infantil:
    get:
      tags: [events]
      summary: Eventos infantiles
      operationId: getAgendaInfantil
      responses:
        "200":
          description: Lista de eventos infantiles
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda/exposiciones:
    get:
      tags: [events]
      summary: Exposiciones
      operationId: getAgendaExposiciones
      responses:
        "200":
          description: Lista de exposiciones
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda/concierto:
    get:
      tags: [events]
      summary: Conciertos del calendario municipal
      operationId: getAgendaConciertos
      responses:
        "200":
          description: Lista de conciertos municipales
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda/teatro:
    get:
      tags: [events]
      summary: Obras de teatro
      operationId: getAgendaTeatro
      responses:
        "200":
          description: Lista de obras de teatro
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/eventos/agenda/visitas:
    get:
      tags: [events]
      summary: Visitas guiadas
      operationId: getAgendaVisitas
      responses:
        "200":
          description: Lista de visitas guiadas
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/carreras/agenda:
    get:
      tags: [sports]
      summary: Agenda de carreras deportivas
      operationId: getCarrerasAgenda
      responses:
        "200":
          description: Lista de carreras
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/carreras/calendario:
    get:
      tags: [sports]
      summary: Calendario de carreras (Buscametas)
      operationId: getCarrerasCalendario
      responses:
        "200":
          description: Calendario de carreras
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventos:
                    type: array
                    items:
                      $ref: "#/components/schemas/Carrera"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"
    post:
      tags: [sports]
      summary: Carreras con filtros personalizados
      operationId: postCarrerasCalendario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                zona:
                  type: string
                distancia:
                  type: string
                desde:
                  type: string
                  format: date
                hasta:
                  type: string
                  format: date
      responses:
        "200":
          description: Lista de carreras filtrada
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/actividades/carreras/inscripciones:
    get:
      tags: [sports]
      summary: Inscripciones abiertas a carreras
      operationId: getCarrerasInscripciones
      responses:
        "200":
          description: Carreras con inscripciones abiertas
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/fever:
    get:
      tags: [sources]
      summary: Eventos de Fever
      operationId: getFever
      responses:
        "200":
          description: Eventos de Fever
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FeverEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/rula:
    get:
      tags: [sources]
      summary: Eventos de La Genterula
      operationId: getRula
      responses:
        "200":
          description: Eventos de La Genterula
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RulaEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          description: >-
            Falló el scraper. En la práctica casi siempre es una de dos cosas:
            falta `MEC_TOKEN` en el entorno del despliegue, o la API de La
            Genterula no responde. Las dos son de este servidor, no de quien llama:
            reintentar con otra clave no lo cambia y hay que mirar el despliegue.
            Documentar el 500 y no un `200` con la lista vacía es a propósito —
            antes la ausencia de token se cacheaba y salía como `200 {count: 0}`—,
            porque "no lo sé" y "no hay eventos" tienen que poder distinguirse. Y
            `data` vacío **sí** significa que no hay eventos: el origen respondió y
            no traía ninguno.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Error al consultar eventos de La Gente Rula"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/gasteizhoy:
    get:
      tags: [sources]
      summary: Eventos de GasteizHoy
      operationId: getGasteizHoy
      responses:
        "200":
          description: Eventos de GasteizHoy
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/GasteizHoyEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/vam:
    get:
      tags: [sources]
      summary: Eventos de VAM Cultura
      operationId: getVam
      responses:
        "200":
          description: Eventos de VAM Cultura
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                  count:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VamEvent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceMisconfigured"

  /api/cines:
    get:
      tags: [cinema]
      summary: Cartelera combinada (Cine Florida + Yelmo Cines Boulevard)
      operationId: getCines
      security: []
      responses:
        "200":
          description: >-
            Películas de ambos cines, cada una etiquetada con su cine. Si uno de
            los dos falló, `cinesConError` dice cuál y `peliculas` trae las del
            otro. Si ninguno falló, `cinesConError` no está.
          content:
            application/json:
              schema:
                type: object
                properties:
                  urls:
                    type: array
                    description: Las dos fuentes que alimentan la cartelera
                    items:
                      type: string
                  scrapedAt:
                    type: string
                    format: date-time
                  total:
                    type: integer
                  cinesConError:
                    type: array
                    description: Cines cuyo scraping falló. Ausente si no falló ninguno
                    items:
                      type: string
                      enum: [Florida, Boulevard]
                  peliculas:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/Pelicula"
                        - type: object
                          properties:
                            cine:
                              type: string
                              enum: [Florida, Boulevard]
        "502":
          description: >-
            Ninguno de los dos cines respondió. Un 200 con `peliculas: []`
            significa que el cine respondió y no tenía cartelera, que es otro
            cosa.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  cinesConError:
                    type: array
                    items:
                      type: string
                      enum: [Florida, Boulevard]

  /api/cines/boulevard:
    get:
      tags: [cinema]
      summary: Cartelera de Yelmo Cines Boulevard
      operationId: getBoulevard
      security: []
      responses:
        "200":
          description: >-
            Películas en cartelera. `duracion` va siempre vacía: Sensacine no
            la publica en la página del cine.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  scrapedAt:
                    type: string
                    format: date-time
                  total:
                    type: integer
                  peliculas:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pelicula"
        "502":
          description: La fuente no respondió
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /api/cines/florida:
    get:
      tags: [cinema]
      summary: Cartelera de Cine Florida
      operationId: getFlorida
      security: []
      responses:
        "200":
          description: Películas en cartelera, con su duración
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                  scrapedAt:
                    type: string
                    format: date-time
                  total:
                    type: integer
                  peliculas:
                    type: array
                    items:
                      $ref: "#/components/schemas/Pelicula"
        "502":
          description: La fuente no respondió
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /api/farmacias:
    get:
      tags: [sources]
      summary: Farmacias de Vitoria
      operationId: getFarmacias
      security: []
      responses:
        "200":
          description: >-
            Farmacias del directorio abierto del Gobierno Vasco. **No es el cuadrante
            de guardia**: la fuente de guardia es inaccesible y lo que se sirve es un
            directorio, así que los campos de turno y horario salen vacíos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  source:
                    type: string
                    description: >-
                      De dónde sale el dato. `opendata-euskadi` desde que Cofalava dejó
                      de responder; el nombre anterior, `cofalava`, ya no se emite.
                    example: "opendata-euskadi"
                  date:
                    type: string
                    description: >-
                      Día al que corresponde el cuadrante, o cadena vacía si el
                      directorio no publica ninguno.
                  count:
                    type: integer
                    description: Cuántas farmacias trae `data`.
                  fetchedAt:
                    type: integer
                    format: int64
                    description: Instante de la descarga, en milisegundos epoch.
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Farmacia"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"

  /api/newsletter/subscribe:
    post:
      tags: [newsletter]
      summary: Suscribirse al newsletter
      operationId: subscribe
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Suscripción registrada
        "400":
          description: Email inválido
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ScraperFailed"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"

  /api/newsletter/confirm:
    get:
      tags: [newsletter]
      summary: Confirmar suscripción
      operationId: confirmSubscription
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "307":
          description: >-
            Redirección a la portada. El destino dice si el enlace valió:
            `?newsletter=confirmed` con un token correcto, `?newsletter=invalid-token`
            con uno que no corresponde a nadie o con una suscripción que se dio
            de baja, y `?newsletter=error` si no vino token.
          headers:
            Location:
              schema:
                type: string
                example: "/?newsletter=confirmed"

  /api/newsletter/unsubscribe:
    get:
      tags: [newsletter]
      summary: Cancelar suscripción
      operationId: unsubscribe
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "307":
          description: >-
            Redirección a la portada. `?newsletter=unsubscribed` si la baja se
            aplicó, `?newsletter=error` si el token no corresponde a nadie.
          headers:
            Location:
              schema:
                type: string
                example: "/?newsletter=unsubscribed"
        "400":
          description: No venía el parámetro `token` en la query

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        API key para autenticar las rutas protegidas. También se puede enviar como query param `?api_key=`.

  schemas:
    Evento:
      type: object
      description: Evento cultural normalizado
      properties:
        id:
          type: string
          description: Identificador único del evento
        title:
          type: string
          description: Título del evento
        date:
          type: string
          description: Fecha del evento (ISO 8601)
        image:
          type: string
          nullable: true
          description: URL de la imagen del evento
        location:
          type: string
          description: Ubicación del evento
        link:
          type: string
          description: URL original del evento
        category:
          type: string
          description: Categoría del evento
        source:
          type: string
          description: >-
            Fuente de datos. Los valores son los ids del registro de fuentes, no nombres
            de sala ni de sede; el enum del parámetro `source` de `/api/v1/events` los
            lista todos.
        time:
          type: string
          description: Hora del evento
        description:
          type: string
          description: Descripción del evento

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total de resultados que coinciden con los filtros
        limit:
          type: integer
          description: Límite de resultados por página
        offset:
          type: integer
          description: Offset actual
        hasMore:
          type: boolean
          description: Si hay más resultados disponibles

    FeverEvent:
      type: object
      properties:
        id:
          type: string
          example: fever-12345
        title:
          type: string
        date:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [Música, Teatro, Cine, Exposiciones, Infantil, Deporte, Danza, Festival, Conferencias, Fiestas, Visitas, Talleres, Gastronomía, Senderismo, Otros]

    RulaEvent:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string

    GasteizHoyEvent:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
        time:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string
        source:
          type: string
          example: gasteizhoy

    VamEvent:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        image:
          type: string
          nullable: true
        location:
          type: string
        link:
          type: string
        category:
          type: string
        source:
          type: string
          example: vam
        description:
          type: string
        time:
          type: string

    ActividadSenderismo:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        link:
          type: string
        image:
          type: string
        category:
          type: string
          example: excursiones
        location:
          type: string
          example: Gazteiz

    TourCivitatis:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        link:
          type: string
        image:
          type: string
        duration:
          type: string
          example: 1h 45m
        language:
          type: string
          example: Español
        price:
          type: string
          example: 5 €
        rating:
          type: number
          nullable: true
          description: Puntuación sobre 10, con punto decimal.
        reviews:
          type: integer
          nullable: true
        travelers:
          type: string
          example: 230.605 viajeros
        categories:
          type: string
          example: visitas-guiadas

    ExperienciaKora:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        image:
          type: string
        link:
          type: string
        reservation:
          type: string
          description: Enlace de reserva, normalmente a Eventbrite.
        schedule:
          type: string
          example: Martes de 19:15h a 20:15h
        price:
          type: string
        language:
          type: string
          example: Español e inglés

    Concierto:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
          description: 'Fecha legible (ej: "Viernes 18 Julio 2026")'
        location:
          type: string
        image:
          type: string
          nullable: true
        link:
          type: string

    Carrera:
      type: object
      properties:
        title:
          type: string
        date:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string

    Pelicula:
      type: object
      description: Película de Yelmo Cines Boulevard
      properties:
        titulo:
          type: string
        duracion:
          type: string
        genero:
          type: string
        imagen:
          type: string
        link:
          type: string
        horarios:
          type: array
          items:
            type: string
          description: 'Lista de horarios (ej: ["16:30", "19:00", "21:30"])'

    ArkabiaEvento:
      type: object
      description: Evento de Arkabia
      properties:
        title:
          type: string
        subtitle:
          type: string
        image:
          type: string
        link:
          type: string
        fecha:
          type: string
          description: 'Rango de fechas mostrado (ej: "04/06 - 13/10/2026")'
        precio:
          type: string
          description: Precio o "GRATIS"
        categoria:
          type: array
          items:
            type: string
        date:
          type: string
          format: date
          description: Fecha de inicio en ISO 8601

    EventoAgenda:
      type: object
      description: Evento normalizado procedente de la agenda agregada
      properties:
        id:
          type: string
        slug:
          type: string
        title:
          type: string
        date:
          type: string
        dateEnd:
          type: string
        time:
          type: string
        image:
          type: string
        location:
          type: string
        link:
          type: string
        description:
          type: string
        category:
          type: string
        source:
          type: string
        price:
          type: string
        rating:
          type: number

    Farmacia:
      type: object
      description: >-
        Una farmacia del directorio. Los nombres de campo son los que emite
        `lib/sources/farmacias.ts` y los que consumen el mapa, la página y la app
        móvil; antes el documento declaraba `nombre`/`direccion`/`ciudad`/`telefono`/
        `horario`, que no existen, así que un cliente generado desde aquí leía
        `undefined` en las cinco. Los tres últimos campos son cadenas y no números a
        propósito: es lo que hacía el scraper anterior y lo que el mapa consume con
        `Number(f.lat)`.
      properties:
        id:
          type: string
          description: >-
            Identificador en el registro sanitario (`idif`). Antes era el id del
            marcador del mapa, que ya no existe; sin id único el mapa y la lista no
            tienen clave estable.
        name:
          type: string
          description: >-
            Nombre del titular. Una de las de Vitoria no lo publica y sale como
            "Farmacia (nombre no publicado)" en vez de desaparecer de la lista.
        address:
          type: string
          description: 'Dirección completa: calle, código postal y municipio.'
        shortAddress:
          type: string
          description: Solo la calle, sin código postal ni municipio.
        phone:
          type: string
        date:
          type: string
          description: >-
            Vacía siempre. El directorio es un **directorio**, no un cuadrante de
            guardia: no publica turno ni fecha, y no se inventa ninguno.
        horarios:
          type: string
          description: Vacía siempre, por lo mismo que `date`.
        neighborhood:
          type: string
          description: Vacía siempre, por lo mismo que `date`.
        city:
          type: string
        zone:
          type: string
          description: Vacía siempre, por lo mismo que `date`.
        lat:
          type: string
          description: Latitud en grados, como cadena.
        lng:
          type: string
          description: Longitud en grados, como cadena.

  responses:
    UpstreamUnavailable:
      description: >-
        El origen de datos que tiene delante no respondió, o respondió con un error.
        No es un problema de quien llama —la petición es válida— y reintentar dentro
        de un rato sí recupera, porque el estado del servidor no ha cambiado. Un
        `200` con la lista vacía significaría "no hay nada", que es otra cosa: un
        origen que responde bien y no tiene datos **es** un dato, y por eso sale con
        `200`. Es el mismo código que usa `/api/cines` para lo mismo.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "No se pudieron obtener las farmacias de Vitoria"

    ScraperFailed:
      description: >-
        El scraper de esta ruta falló. Es un fallo de este servidor, no de la
        petición: reintentar con otra clave o con otros parámetros no lo cambia.
        Sirve para las rutas cuyo scraper propaga el error en vez de devolver una
        lista vacía, porque un `200 {count: 0}` que en realidad significa "no lo sé"
        es lo que cachea un cliente móvil como si fuera un resultado.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Error al consultar eventos"

    ServiceMisconfigured:
      description: >-
        El servidor no tiene `API_KEY` en el entorno, así que el middleware
        cierra las rutas protegidas en vez de abrirlas. No es un problema de
        quien llama: reintentar con otra clave no va a cambiar nada, hay que
        configurar el despliegue. Un 401 significaría que la clave no es válida; este 503 significa que aquí no hay ninguna.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Service misconfigured - API_KEY is not set on the server, so protected endpoints are closed"

    Unauthorized:
      description: API key no proporcionada o inválida
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized – provide a valid x-api-key header or ?api_key= query param"

    RateLimited:
      description: Límite de peticiones excedido
      headers:
        Retry-After:
          schema:
            type: integer
          description: Segundos hasta poder hacer otra petición
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Rate limit exceeded. Try again later."
